.forBoxShadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.registerBtn {
  border: 2px solid #ff731d !important;
  color: black;
  border-radius: 10px;
  background-color: #ff731d;
  margin-bottom: 10px;
}
.registerBtn:hover {
  color: white;
}
.InsideBlock {
}
.cardHeading:hover {
  color: black !important;
}
.cardHeading {
  text-decoration: underline;
}
.service-box:hover > .InsideBlock {
  background-color: rgb(82, 82, 82) !important;
}
.service-box:hover {
  background-color: rgb(241, 241, 241) !important;
}
